@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Dark Mode */
:root {
  --darkColor: #202122;
  --darkColor1: #2b2c2c;
  --darkColor2: #424242;
  --darkColor3: #727272;
  --bordaColor: #333333;
  --corPrincipal: #f19f17;
  --corNavbar: #6d0819;
  --corIconesTopo: #a00601;
  --corIconesCarrosel: #999999;
  --textColor: white;
}

body.dark {
  background: var(--darkColor);
}

body.dark .estilo-capa-atelie {
  background-image: url(/imagens/fundos/flowers-5587354_1920.png);
}

/* Navbar */
body.dark .navbar {
  background-color: var(--darkColor1);
}

body.dark .navbar-dark .navbar-toggler {
  background-color: var(--darkColor1);
}

body.dark .btn-dark {
  background: var(--darkColor3) !important;
}

body.dark .btn-dark:after {
  background: var(--textColor);
}

body.dark #nav-target .nav-link:hover {
  color: var(--corPrincipal) !important;
}

/* Fontes */
body.dark h3 {
  color: var(--textColor) !important;
}

body.dark #novidades a:hover {
  color: var(--corPrincipal) !important;
}

body.dark a {
  color: var(--textColor) !important;
}

body.dark #contato a:hover {
  color: var(--corPrincipal) !important;
}

/* Produtos */
body.dark .album {
  background: var(--darkColor) !important;
}

body.dark .card-body {
  background: var(--darkColor);
  color: var(--textColor);
}

body.dark .card {
  border-color: var(--bordaColor) !important;
  background: var(--darkColor) !important;
}

/* Sobre */
body.dark .modo-escuro {
  background: var(--darkColor) !important;
  border-radius: 0.9rem;
  width: auto;
}

/* Icones inferiores */
body.dark .iconesInferiores {
  color: var(--corPrincipal);
}

body.dark .iconesInferiores:hover {
  -webkit-transform: scale(0.1);
  transform: scale(1.1);
  transition: all 0.1s;
}

/* Footer */
body.dark footer {
  background-color: var(--darkColor1);
}

body.dark footer a:hover {
  color: var(--corPrincipal) !important;
}

/* -- Fim Dark Mode -- */

body {
  background: var(--textColor);
}

/* Navbar */
.estilo-navbar {
  background-color: var(--corNavbar);
}

#nav-target a {
  color: var(--textColor);
  font-family: Cambria, Georgia, serif;
}

#nav-target .nav-link:hover {
  color: rgba(255, 255, 255, 0.700);
}

.navbar-dark .navbar-nav {
  font-size: 24px;
}

.navbar-brand {
  font-family: Cambria, Georgia, serif;
  font-size: 24px !important;
}

.navbar-brand:hover {
  color: var(--corPrincipal) !important;
}

.navbar-dark .navbar-toggler {
  border-radius: 2rem 2rem;
  border-width: 0.2rem;
  background: var(--corNavbar);
  border-color: rgba(255, 255, 255, 0.575);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.btn-dark {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  margin-top: 16px;
  margin-left: 6px;
  background: var(--textColor) !important;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
}

.btn-dark:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  background: var(--darkColor2) !important;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
}

input[type="checkbox"]:checked~.btn-dark:before {
  transform: translateX(-50px);
}

.btn-dark:after {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  background: var(--darkColor);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateX(50px);
}

input[type="checkbox"]:checked~.btn-dark:after {
  transform: translateX(0px);
}

/* Capa */
#capa {
  height: 20%;
  font-family: 'Arapey';
}

.jumbotron {
  margin-bottom: 0px;
}

.estilo-capa {
  background-image: url(../imagens/capaCaderno.webp) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 0px 0px 8px 8px !important;
  border: 1px solid #a1a1a1b2;
  -webkit-box-shadow: 0px 0px 8px 2px #0000004f;
  -moz-box-shadow: 0px 0px 8px 2px #0000004f;
  box-shadow: 0px 0px 8px 2px #0000004f;
}

.imagem-perfil {
  height: auto;
  width: 24%;
  max-width: 24%;
}

#capa h1 {
  padding-top: 17px;
  padding-bottom: 0px;
  font-size: 40px;
  font-weight: 700;
  line-height: 26.4px;
}

#capa h2 {
  font-weight: 600;
  font-size: 24px;
  padding-top: 4px;
  padding-bottom: 10px;
  color: #2c2c2c;
}

.btn-contato {
  margin-bottom: 4px;
  padding: 4px;
  text-align: center;
  transition: 0.3s;
  background-size: 200% auto;
  color: var(--textColor);
  border-radius: 35px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #ffa82d;
  background-image: linear-gradient(45deg, #fcd603 0%, #F09819 51%, #f8fc2c 100%);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10rem;
  height: 2rem;
  font-family: Cambria, Georgia, serif;
  font-size: 17px;
}

.btn-contato:hover {
  background-position: center right;
  color: var(--textColor);
  text-decoration: none;
}

.btn-contato:active {
  transform: scale(0.95);
}

.icones {
  margin-top: 15px;
  margin-right: 2px;
  font-size: 25px;
  color: var(--corIconesTopo);
}

/* Produtos */
.imagens-produtos {
  height: 350px;
  width: 350px;
  max-height: 350px;
  max-width: 350px;
  display: block;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem !important;
}

#novidades {
  font-family: Cambria, Georgia, serif;
}

#novidades h3 {
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  color: var(--corPrincipal);
  line-height: 40px;
}

#novidades h4 {
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  color: var(--corPrincipal);
  line-height: 40px;
}

#produtos {
  font-family: Cambria, Georgia, serif;
}

#produtos .container {
  margin-top: -40px;
}

#produtos h3 {
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  color: var(--corPrincipal);
}

#produtos h4 {
  font-size: 22px;
  padding-bottom: 10px;
  font-style: normal;
  font-variant: normal;
  line-height: 26px;
  font-weight: 700;
}

#produtos li {
  padding-bottom: 8px;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  line-height: 25px;
}

.fa-angle-left {
  color: var(--corIconesCarrosel);
}

.fa-angle-right {
  color: var(--corIconesCarrosel);
}

.btn-outline-success,
.btn-outline-primary,
.btn-outline-warning {
  padding-bottom: 8px;
  font-family: Cambria, Georgia, serif;
  border-radius: 3rem !important;
  font-size: 14px !important;
  font-weight: 900 !important;
  text-transform: uppercase;
  text-align: center;
  width: 8rem !important;
  height: 2.3rem;
}

#servicos {
  font-family: Cambria, Georgia, serif;
}

#servicos .container {
  margin-top: -60px;
}

#servicos h3 {
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  color: var(--corPrincipal);
}

#servicos h4 {
  font-size: 22px;
  padding-bottom: 10px;
  font-style: normal;
  font-variant: normal;
  line-height: 26px;
  font-weight: 700;
}

#servicos li {
  padding-bottom: 8px;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  line-height: 25px;
}

/* Sobre */
#sobre {
  background-image: linear-gradient(to right bottom, #cd0000, #da4100, #e66400, #f08300, #f8a000, #ef9518, #e48b24, #d9812c, #ac5734, #753630, #3c1e21, #000000);
  border-radius: 0.9rem;
  width: auto;
  font-family: Cambria, Georgia, serif;
  margin: 1px;
}

#sobre h3 {
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  color: var(--textColor);
}

#sobre p {
  font-size: 26px;
  font-variant: normal;
  font-weight: 400;
  line-height: 33px;
  color: var(--textColor);
  text-align: justify;
}

#contato h3 {
  font-family: Cambria, Georgia, serif;
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  color: var(--corPrincipal);
  padding-top: 20px;
  padding-bottom: 30px;
}

.iconesInferiores {
  margin-top: 0px;
  margin-right: 2px;
  font-size: 25px;
  text-align: center !important;
  color: var(--corIconesTopo);
}

.iconesInferiores:hover,
.icones:hover,
.icones-atelie:hover {
  -webkit-transform: scale(0.1);
  transform: scale(1.1);
  transition: all 0.1s;
}

#contato h4 {
  font-size: 24px;
  font-weight: 600;
  font-family: Cambria, Georgia, serif;
}

#contato a {
  font-family: Cambria, Georgia, serif;
  text-decoration: none;
  color: var(--corPrincipal);
}

#contato a:hover {
  color: #c97c00;
}

#telegram img {
  position: fixed;
  margin: 3px;
  margin-top: 300px;
  z-index: 5000;
  bottom: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
}

#telegram img:hover {
  -webkit-transform: scale(0.1);
  transform: scale(1.1);
  transition: all 0.1s;
}

footer {
  font-family: 'Arapey';
  font-size: 20px;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--textColor);
  padding: 0px;
  margin: 0px;
}

footer p {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer a {
  color: white;
  text-decoration-line: underline;
}

footer a:hover {
  color: var(--corPrincipal);
}

.card {
  border-color: #ccccccb4 !important;
  border-radius: 0.5rem 0.5rem 0.3rem 0.3rem !important;
  width: auto !important;
  background: var(--textColor);
}

/* ------------ ATELIÊ ------------ */

/* Capa */
#capaAtelie {
  height: 35rem;
  font-family: 'Arapey';
}

.estilo-capa-atelie {
  background-image: url(/imagens/fundos/cesar-couto-TIvFLeqZ4ec-unsplash.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0rem 0rem 2rem 2rem !important;
  /*border: 1px solid #a1a1a1b2;*/
  -webkit-box-shadow: 0px 0px 8px 2px #0000004f;
  -moz-box-shadow: 0px 0px 8px 2px #0000004f;
  box-shadow: 0px 0px 8px 2px #0000004f;
}

.icones-atelie {
  margin-top: 15px;
  margin-right: 0px;
  font-size: 28px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right top, #3d3d3d, #76536e, #c66375, #fe8553, #ffc500);
}

.fundo {
  background-image: url(/imagens/fundos/flowers-4931217.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fundo2 {
  background-image: url(/imagens/fundos/art-2540641.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.jumbotron {
  background-color: white !important;
}

.imagem-perfil-atelie {
  margin-top: 3.5rem;
  height: auto;
  width: 24%;
  max-width: 24%;
}

.estiliza-titulo-texto {
  background-image: linear-gradient(to right top, #5e9de4, #88a4dc, #a4add3, #b7b8cb, #c4c4c4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.estiliza-texto {
  background-image: linear-gradient(to right top, #4e97e8, #7695d3, #8a94be, #9495aa, #979797);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#resina {
  padding: 3rem 1rem 0rem 1rem;
  margin-top: -1.8rem;
}

#resina img {
  margin-top: 6px;
  margin-bottom: 15px;
}

#capaAtelie h1 {
  font-family: 'Passions Conflict', cursive;
  color: #363636;
  padding-top: 20px;
  padding-bottom: 3px;
  font-size: 8rem;
  font-weight: 500;
  line-height: 3.5rem;
  text-shadow: 2px 2px #d1d1d1;
  letter-spacing: 0px;
  word-spacing: 0px;
}

#resina h2 {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 3rem;
  color: transparent;
  margin-bottom: -0.7rem;
}

#descricaoResina p {
  font-family: 'Sacramento', cursive;
  font-weight: 700;
  font-size: 2.7rem;
  text-align: justify;
  line-height: 35px;
  /* superior | direita | inferior | esquerda */
  padding: 1rem 0.2rem 0.9rem 0.2rem;
  margin-top: -1.2rem;
}

#contatoAtelie h3 {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 3rem;
  color: transparent;
  padding: 0.9rem;
}

#contatoAtelie label {
  font-family: 'Sacramento', cursive;
  font-size: 2.3rem;
  font-variant: normal;
  font-weight: 600;
  color: var(--corPrincipal);
}

#contatoAtelie input {
  border-radius: 30px !important;
  font-family: 'Lora', serif;
  font-size: 20px;
}

#contatoAtelie textarea {
  border-radius: 20px !important;
  height: 100px;
  font-family: 'Lora', serif;
  font-size: 20px;
}

#contatoAtelie .form-group {
  width: 500px;
}

#contatoAtelie::placeholder {
  font-family: 'Lora', serif;
  font-size: 17px;
}

#formulario {
  margin-top: -30px;
}

.img {
  border-radius: 0.7rem;
  -webkit-box-shadow: 0px 0px 6px 2px #00000052;
  -moz-box-shadow: 0px 0px 6px 2px #00000052;
  box-shadow: 0px 0px 6px 2px #00000052;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.img {
  transition: .5s ease-in-out;
}

.img:hover {
  filter: brightness(80%);
}

.img-carousel {
  border-radius: 0.7rem;
}

.fa-angle-left, .fa-angle-right {
  color: white;
}

/* ------------ FIM ATELIÊ ------------ */

#cadernoA5eA6,
card-body {
  margin-bottom: 65px;
}

#cadernoDiscoA6,
card-body {
  margin-bottom: 41px;
}

#cadernoKraftA6,
card-body {
  margin-bottom: 41px;
}

#plannerSemanal, card-body {
  margin-bottom: 41px;
}

#cadernoArtesanal,
card-body {
  margin-bottom: 66px;
}

#evolucaoCadernos,
card-body {
  margin-bottom: 99px;
}

#servicosMarketing,
card-body {
  margin-bottom: 116px;
}

@media screen and (max-width: 1199px) {

  #cadernoA5eA6,
  card-body {
    margin-bottom: 91px;
  }

  #cadernoDiscoA6,
  card-body {
    margin-bottom: 41px;
  }

  #cadernoKraftA6,
  card-body {
    margin-bottom: 10px;
  }

  #plannerSemanal, card-body {
    margin-bottom: 35px;
  }

  #cadernoArtesanal,
  card-body {
    margin-bottom: 66px;
  }

  #marcadoresPagina,
  card-body {
    margin-bottom: 35px;
  }

  #servicosMarketing,
  card-body {
    margin-bottom: 141px;
  }

  #evolucaoCadernos,
  card-body {
    margin-bottom: 149px;
  }

  /*ATELIE*/
  .imagem-perfil-atelie {
    max-width: 100%;
    width: 30%;
  }

  #resina {
    padding: 3.5rem 0rem 0rem 0rem;
  }

  #descricaoResina h2 {
    margin-bottom: -10px;
    font-size: 2.8rem;
  }
  
  #descricaoResina p {
    font-size: 2.4rem;
    line-height: 35px;
    /* superior | direita | inferior | esquerda */
    padding: 1rem 0.3rem 0.6rem 0.3rem;
    margin-top: -1rem;
  }

}

@media screen and (max-width: 991px) {

  #cadernoA5eA6,
  card-body {
    margin-bottom: 41px;
  }

  #cadernoDiscoA6,
  card-body {
    margin-bottom: 35px;
  }

  #marcadoresPagina,
  card-body {
    margin-bottom: 10px;
  }

  #cadernoArtesanal,
  card-body {
    margin-bottom: 91px;
  }

  #servicosMarketing,
  card-body {
    margin-bottom: 116px;
  }

  #evolucaoCadernos,
  card-body {
    margin-bottom: 10px;
  }

  /* ATELIE */
  .imagem-perfil-atelie {
    max-width: 100%;
    width: 30%;
  }

  #capaAtelie h1 {
    font-size: 8rem;
    line-height: 5rem;
  }

  #resina h2 {
    font-size: 2rem;
  }
  
  #descricaoResina p {
    font-size: 2rem;
    line-height: 28px;
    /* superior | direita | inferior | esquerda */
    padding: 1rem 0.3rem 0.6rem 0.3rem;
    margin-top: -1.5rem;
  }

}

@media screen and (max-width: 770px) {

  #cadernoA5eA6,
  card-body {
    margin-bottom: 36px;
  }

  #cadernoA6,
  card-body {
    margin-bottom: 10px;
  }

  #cadernoDiscoA6,
  card-body {
    margin-bottom: 35px;
  }

  #cadernoKraftA6,
  card-body {
    margin-bottom: 10px;
  }

  #cadernoArtesanal,
  card-body {
    margin-bottom: 91px;
  }

  #marcadoresPagina,
  card-body {
    margin-bottom: 10px;
  }

  #evolucaoCadernos,
  card-body {
    margin-bottom: 10px;
  }

  #servicosMarketing,
  card-body {
    margin-bottom: 116px;
  }

  #telegram img {
    width: 40px;
    height: 40px;
  }

  /*ATELIE */

  #resina {
    padding: 3.5rem 0rem 0rem 0rem;
  }

  #resina h2 {
    font-size: 2.4rem;
  }
  
  #descricaoResina p {
    font-size: 2rem;
    line-height: 30px;
    /* superior | direita | inferior | esquerda */
    padding: 1rem 0.3rem 0.6rem 0.3rem;
    margin-top: -1.5rem;
  }
  
}

@media screen and (max-width: 767px) {

  #cadernoA5eA6,
  card-body {
    margin-bottom: 110px;
  }

  #cadernoDiscoA6,
  card-body {
    margin-bottom: 10px;
  }

  #cadernoKraftA6,
  card-body {
    margin-bottom: 35px;
  }

  #plannerSemanal, card-body {
    margin-bottom: 110px;
  }

  #marcadoresPagina,
  card-body {
    margin-bottom: 35px;
  }

  #servicosMarketing,
  card-body {
    margin-bottom: 140px;
  }

  #cadernoArtesanal,
  card-body {
    margin-bottom: 117px;
  }

  #telegram img {
    width: 40px;
    height: 40px;
  }

  .check {
    margin-left: 0;
    margin-top: 2px;
  }

  /* ATELIE */
  #capaAtelie {
    height: 32rem;
  }

  #resina {
    /* superior | direita | inferior | esquerda */
    padding: 1rem 4rem 1rem 4rem;
  }

  .imagem-perfil-atelie {
    max-width: 100%;
    width: 35%;
  }

  .fundo {
    background-image: url(/imagens/fundos/flowers-4931217.png);
    background-size: contain;
    background-repeat: repeat;
  }

  #resina h2 {
    padding-top: 2.7rem;
    font-size: 3rem;
  }
  
  #descricaoResina p {
    font-size: 2.7rem;
    line-height: 40px;
    /* superior | direita | inferior | esquerda */
    padding: 1rem 0.3rem 0.6rem 0.3rem;
    margin-top: -1.5rem;
  }

}

@media screen and (max-width: 575px) {

  #capa h1 {
    font-size: 38px;
  }

  #capa h2 {
    font-size: 20px;
  }

  #produtos h3 {
    font-size: 30px;
  }

  #servicos h3 {
    font-size: 30px;
  }

  #sobre h3 {
    font-size: 30px;
  }

  #sobre p {
    font-size: 25px;
  }

  #contato h3 {
    font-size: 30px;
  }

  #contato h4 {
    font-size: 22px;
  }

  .imagensProdutos {
    max-width: 350px;
    height: 350px !important;
    width: 100% !important;
  }

  .imagem-perfil {
    margin-top: 1.6rem;
    height: auto;
    width: 30%;
    min-width: 26% !important;
  }

  .estilo-capa {
    background-size: cover;
    background-position: 45% !important;
  }

  .card {
    margin-left: 60px;
    margin-right: 60px;
    max-width: 350px;
    min-width: 300px !important;
  }

  #cadernoA5eA6,
  card-body {
    margin-bottom: 10px !important;
  }

  #cadernoKraftA6,
  card-body {
    margin-bottom: 10px !important;
  }

  #plannerSemanal, card-body {
    margin-bottom: 10px;
  }

  #marcadoresPagina,
  card-body {
    margin-bottom: 10px;
  }

  #cadernoArtesanal,
  card-body {
    margin-bottom: 10px !important;
  }

  #evolucaoCadernos,
  card-body {
    margin-bottom: 10px;
  }

  #servicosMarketing,
  card-body {
    margin-bottom: 10px !important;
  }

  #telegram img {
    width: 40px;
    height: 40px;
  }

  #contatoAtelie .form-group {
    width: auto;
  }

  /* ATELIE */

  .imagem-perfil-atelie {
    height: auto;
    width: 30%;
    max-width: 100%;
  }

  #capaAtelie {
    height: 30rem;
  }

  #resina {
    margin-top: -2rem;
    padding: 15px;
  }

  #resina .img-fluid {
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 470px) {

  #capa h1 {
    font-size: 33px;
  }

  #capa h2 {
    font-size: 18px;
  }

  .card {
    margin-left: 35px;
    margin-right: 35px;
  }

  .imagem-perfil {
    height: 30%;
    max-width: 30%;
    width: 30%;
    margin-top: 0px;
  }

  .imagensProdutos {
    width: 100% !important;
  }

  #telegram img {
    width: 35px;
    height: 35px;
  }

  #contato h4 {
    font-size: 17px;
  }

  #sobre p {
    font-size: 24px;
  }

  #novidades, #produtos, #servicos {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  /* ATELIE */
  #capaAtelie {
    height: 35rem;
  }

  #resina {
    padding: 2.4rem;
  }

  #resina h2 {
    padding-top: 2rem;
    font-size: 2.5rem;
  }

  #descricaoResina p {
    font-size: 2.6rem;
  }

  #resina .img-fluid {
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 400px) {

  .imagensProdutos {
    width: 100% !important;
    object-fit: cover;
  }

  .card {
    margin-left: 30px !important;
    margin-right: 30px !important;
    max-width: 320px;
  }

  #telegram img {
    width: 30px;
    height: 30px;
  }

  #contato h4 {
    font-size: 17px;
  }

  #sobre p {
    font-size: 24px;
  }

  /* ATELIE */
  #capaAtelie {
    height: 35rem;
  }

  #resina {
    padding: 15px;
  }

  #resina .img-fluid {
    margin-bottom: 20px;
  }

}