html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Dark Mode */
:root {
  --darkColor: #202122;
  --darkColor1: #2b2c2c;
  --darkColor2: #424242;
  --darkColor3: #727272;
  --bordaColor: #333333;
  --corPrincipal: #f19f17;
  --corNavbar: #6d0819;
  --corIconesTopo: #a00601;
  --corIconesCarrosel: #999999;
  --textColor: white;
}

body.dark {
  background: var(--darkColor);
}

/* Navbar */
body.dark .navbar {
  background-color: var(--darkColor1);
}

body.dark .navbar-dark .navbar-toggler {
  background-color: var(--darkColor1);
}

body.dark .btn-dark {
  background: var(--darkColor3) !important;
}

body.dark .btn-dark:after {
  background: var(--textColor);
}

body.dark #nav-target .nav-link:hover {
  color: rgba(150, 150, 150, 0.774) !important;
}

/* Fontes */
body.dark h3 {
  color: var(--textColor) !important;
}

body.dark a {
  color: var(--textColor) !important;
}

body.dark #contato a:hover {
  color: var(--corPrincipal) !important;
}

/* Produtos */
body.dark .album {
  background: var(--darkColor) !important;
}

body.dark .card-body {
  background: var(--darkColor);
  color: var(--textColor);
}

body.dark .card {
  border-color: var(--bordaColor) !important;
  background: var(--darkColor) !important;
}

/* Sobre */
body.dark .modo-escuro {
  background: var(--darkColor) !important;
  border-radius: 0.9rem;
  width: auto;
}

/* Icones inferiores */
body.dark .iconesInferiores {
  color: var(--corPrincipal);
}

body.dark .iconesInferiores:hover {
  -webkit-transform: scale(0.1);
  transform: scale(1.1);
  transition: all 0.1s;
}

/* Footer */
body.dark footer {
  background-color: var(--darkColor1);
}

/* -- Fim Dark Mode -- */

body {
  background: var(--textColor);
}

/* Navbar */
.estilo-navbar {
  background: var(--corNavbar);
}

#nav-target a {
  color: var(--textColor);
  font-family: Cambria, Georgia, serif;
}

#nav-target .nav-link:hover {
  color: rgba(255, 255, 255, 0.700);
}

.navbar-dark .navbar-nav {
  text-transform: uppercase;
  font-size: 20px;
}

.navbar-brand {
  color: var(--textColor);
  text-transform: uppercase;
  font-style: italic;
  font-size: 20px;
  font-family: 'Arapey';
}

.navbar-dark .navbar-toggler {
  border-radius: 2rem 2rem;
  border-width: 0.2rem;
  background: var(--corNavbar);
  border-color: rgba(255, 255, 255, 0.575);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.btn-dark {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  margin-top: 13px;
  margin-left: 6px;
  background: var(--textColor) !important;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
}

.btn-dark:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  background: var(--darkColor2) !important;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
}

input[type="checkbox"]:checked~.btn-dark:before {
  transform: translateX(-50px);
}

.btn-dark:after {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  background: var(--darkColor);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateX(50px);
}

input[type="checkbox"]:checked~.btn-dark:after {
  transform: translateX(0px);
}

/* Capa */
#capa {
  height: 20%;
  font-family: 'Arapey';
}

.jumbotron {
  margin-bottom: 0px;
}

.estilo-capa {
  background-image: url(../imagens/capaCaderno.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 0px 0px 8px 8px !important;
  border: 1px solid #a1a1a1b2;
  -webkit-box-shadow: 0px 0px 8px 2px #0000004f;
  -moz-box-shadow: 0px 0px 8px 2px #0000004f;
  box-shadow: 0px 0px 8px 2px #0000004f;
}

.imagem-perfil {
  height: auto;
  width: 22%;
  max-width: 22%;
}

#capa h1 {
  padding-top: 17px;
  padding-bottom: 0px;
  font-size: 40px;
  font-weight: 700;
  line-height: 26.4px;
}

#capa h2 {
  font-weight: 600;
  font-size: 24px;
  padding-top: 4px;
  padding-bottom: 10px;
  color: #2c2c2c;
}

.btn-contato {
  margin-bottom: 4px;
  padding: 4px;
  text-align: center;
  transition: 0.3s;
  background-size: 200% auto;
  color: var(--textColor);
  border-radius: 35px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #ffa82d;
  background-image: linear-gradient(45deg, #fcd603 0%, #F09819 51%, #f8fc2c 100%);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10rem;
  height: 2rem;
  font-family: Cambria, Georgia, serif;
  font-size: 17px;
}

.btn-contato:hover {
  background-position: center right;
  color: var(--textColor);
  text-decoration: none;
}

.btn-contato:active {
  transform: scale(0.95);
}

.icones {
  margin-top: 15px;
  margin-right: 2px;
  font-size: 25px;
  color: var(--corIconesTopo);
}

/* Produtos */
.imagens-produtos {
  height: 350px;
  width: 350px;
  max-height: 350px;
  max-width: 350px;
  display: block;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem !important;
}

#produtos {
  font-family: Cambria, Georgia, serif;
}

#produtos .container {
  margin-top: -40px;
}

#produtos h3 {
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  color: var(--corPrincipal);
}

#produtos h4 {
  font-size: 22px;
  padding-bottom: 10px;
  font-style: normal;
  font-variant: normal;
  line-height: 26px;
  font-weight: 700;
}

#produtos li {
  padding-bottom: 8px;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  line-height: 25px;
}

.fa-angle-left {
  color: var(--corIconesCarrosel);
}

.fa-angle-right {
  color: var(--corIconesCarrosel);
}

.btn-outline-success, .btn-outline-primary, .btn-outline-warning {
  padding-bottom: 8px;
  font-family: Cambria, Georgia, serif;
  border-radius: 3rem !important;
  font-size: 14px !important;
  font-weight: 900 !important;
  text-transform: uppercase;
  text-align: center;
  width: 8rem !important;
  height: 2.3rem;
}

#servicos {
  font-family: Cambria, Georgia, serif;
}

#servicos .container {
  margin-top: -60px;
}

#servicos h3 {
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  color: var(--corPrincipal);
}

#servicos h4 {
  font-size: 22px;
  padding-bottom: 10px;
  font-style: normal;
  font-variant: normal;
  line-height: 26px;
  font-weight: 700;
}

#servicos li {
  padding-bottom: 8px;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  line-height: 25px;
}

/* Sobre */
#sobre {
  background-image: linear-gradient(#12833871, #f19d17c4);
  border-radius: 0.9rem;
  width: auto;
  font-family: Cambria, Georgia, serif;
  margin: 1px;
}

#sobre h3 {
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  color: var(--textColor);
}

#sobre p {
  font-size: 26px;
  font-variant: normal;
  font-weight: 400;
  line-height: 33px;
  color: var(--textColor);
}

#contato h3 {
  font-family: Cambria, Georgia, serif;
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  color: var(--corPrincipal);
  padding-top: 20px; 
  padding-bottom: 30px;
}

#contato label {
  font-family: Cambria, Georgia, serif;
  font-size: 20px;
  font-variant: normal;
  font-weight: 600;
  color: var(--corPrincipal);
}

#contato input {
  border-radius: 30px !important;
  font-family: Cambria, Georgia, serif;
  font-size: 20px;
}

#contato textarea {
  border-radius: 20px !important;
  height: 100px;
  font-family: Cambria, Georgia, serif;
  font-size: 20px;
}

#contato .form-group {
  width: 500px;
}

#contato ::placeholder {
  font-family: Cambria, Georgia, serif;
  font-size: 17px;
}

#formulario {
  margin-top: -30px;
} 

.iconesInferiores{
  margin-top: 0px;
  margin-right: 2px;
  font-size: 25px;
  text-align: center !important;
  color: var(--corIconesTopo);
}

.iconesInferiores:hover, .icones:hover {
  -webkit-transform: scale(0.1);
  transform: scale(1.1);
  transition: all 0.1s;
}

#contato h4 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
}

#contato a {
  font-family: Cambria, Georgia, serif;
  text-decoration: none;
  color: var(--corPrincipal);
}

#contato a:hover {
  color: #c97c00;
}

#telegram img {
  position: fixed;
  margin: 3px;
  margin-top: 300px;
  z-index: 5000;
  bottom: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
}

#telegram img:hover {
  -webkit-transform: scale(0.1);
  transform: scale(1.1);
  transition: all 0.1s;
}

footer {
  font-family: 'Arapey';
  font-size: 20px;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--textColor);
  padding: 0px;
   margin: 0px;
}

footer p {
  margin:0px;
  padding-top: 10px; 
  padding-bottom: 10px;
}

.card {
  border-color: #ccccccb4 !important;
  border-radius: 0.5rem 0.5rem 0.3rem 0.3rem !important;
  width: auto !important;
  background: var(--textColor);
}

#cadernoA5eA6, card-body {
  margin-bottom: 65px ;
}

#cadernoDiscoA6, card-body {
  margin-bottom: 41px;
}

#cadernoKraftA6, card-body {
  margin-bottom: 41px;
}

#cadernoArtesanal, card-body {
  margin-bottom: 141px;
}

#evolucaoCadernos, card-body {
  margin-bottom: 0px;
}

#evolucaoCadernos, card-body {
  margin-bottom: 15px;
}

#servicosMarketing, card-body {
  margin-bottom: 116px;
}

@media screen and (max-width: 1199px){

  #cadernoA5eA6, card-body {
    margin-bottom: 91px;
  }

  #cadernoDiscoA6, card-body  {
    margin-bottom: 41px;
  }

  #cadernoKraftA6, card-body {
    margin-bottom: 10px;
  }
  
  #cadernoArtesanal, card-body {
    margin-bottom: 192px;
  }

  #marcadoresPagina, card-body {
    margin-bottom: 35px;
  }

  #evolucaoCadernos, card-body {
    margin-bottom: 10px;
  }
  
  #servicosMarketing, card-body {
    margin-bottom: 167px;
  }

}

@media screen and (max-width: 991px){

  #cadernoA5eA6, card-body {
    margin-bottom: 41px;
  }

  #cadernoDiscoA6, card-body  {
    margin-bottom: 35px;
  }

  #marcadoresPagina, card-body {
    margin-bottom: 10px;
  }

  #cadernoArtesanal, card-body {
    margin-bottom: 52px;
  }

  #evolucaoCadernos, card-body {
    margin-bottom: 10px;
  }
  
  #servicosMarketing, card-body {
    margin-bottom: 116px;
  }

}

@media screen and (max-width: 770px){

  #cadernoA5eA6, card-body {
    margin-bottom: 36px;
  }

  #cadernoA6, card-body {
    margin-bottom: 10px;
  }

  #cadernoDiscoA6, card-body  {
    margin-bottom: 35px;
  }

  #cadernoKraftA6, card-body {
    margin-bottom: 10px;
  }

  #cadernoArtesanal, card-body {
    margin-bottom: 53px;
  }

  #marcadoresPagina, card-body {
    margin-bottom: 10px;
  }

  #evolucaoCadernos, card-body {
    margin-bottom: 10px;
  }

  #servicosMarketing, card-body {
    margin-bottom: 116px;
  }

  #telegram img {
    width: 40px;
    height: 40px;
  }

}

@media screen and (max-width: 767px){

  #cadernoA5eA6, card-body {
    margin-bottom: 110px;
  }

  #cadernoDiscoA6, card-body  {
    margin-bottom: 10px;
  }

  #cadernoKraftA6, card-body {
    margin-bottom: 35px;
  }

  #servicosMarketing, card-body {
    margin-bottom: 140px;
  }

  #cadernoArtesanal, card-body {
    margin-bottom: 78px;
  }

  #telegram img {
    width: 40px;
    height: 40px;
  }

  .check {
    margin-left: 0;
    margin-top: 2px;
  }

}

@media screen and (max-width: 575px){

  #capa h1 {
    font-size: 38px;
  }
  
  #capa h2 {
    font-size: 20px;
  }

  #produtos h3 {
    font-size: 30px;
  }

  #servicos h3 {
    font-size: 30px;
  }

  #sobre h3 {
    font-size: 30px;
  }

  #sobre p {
    font-size: 25px;
  }

  #contato h3 {
    font-size: 30px;
  }

  #contato h4 {
    font-size: 22px;
  }

  .imagensProdutos {
    max-width: 350px;
    height: 350px !important;
    width: 100% !important;
  }

  .imagem-perfil {
    margin-top: 1.6rem;
    height: auto;
    width: 30%;
    min-width: 26% !important;
  }

  .estilo-capa {
    background-size: cover;
    background-position: 45% !important;
  }

  .card {
    margin-left: 60px;
    margin-right: 60px;
    max-width: 350px;
    min-width: 300px !important;
  }

  #cadernoA5eA6, card-body {
    margin-bottom: 10px !important;
  }

  #cadernoKraftA6, card-body {
    margin-bottom: 10px !important;
  }

  #cadernoArtesanal, card-body {
    margin-bottom: 10px !important;
  }

  #evolucaoCadernos, card-body {
    margin-bottom: 10px;
  }
  
  #servicosMarketing, card-body {
    margin-bottom: 10px !important;
  }

  #telegram img {
    width: 40px;
    height: 40px;
  }

  #contato .form-group {
    width: auto;
  }

}

@media screen and (max-width: 470px){

  #capa h1 {
    font-size: 33px;
  }
  
  #capa h2 {
    font-size: 18px;
  }

  .card {
    margin-left: 35px;
    margin-right: 35px;
  }

  .imagem-perfil {
    height: 30%;
    max-width: 30%;
    width: 30%;
    margin-top: 0px;
  }

  .imagensProdutos {
    width: 100% !important;
  }

  #telegram img {
    width: 35px;
    height: 35px;
  }

  #contato h4 {
    font-size: 17px;
  }

  #sobre p {
    font-size: 24px;
  }

}

@media screen and (max-width: 400px){

  .imagensProdutos {
    width: 100% !important;
    object-fit: cover;
  }

  .card {
    margin-left: 30px !important;
    margin-right: 30px !important;
    max-width: 320px;
  }

  #telegram img {
    width: 30px;
    height: 30px;
  }

  #contato h4 {
    font-size: 17px;
  }

  #sobre p {
    font-size: 24px;
  }
  
}